version: "3.9"
services:
  backend:
    image: forgekeeper-backend
    env_file: .env
    networks: [forgekeeper-net]
    ports: ["${BACKEND_PORT}:${BACKEND_PORT}"]

  frontend:
    image: forgekeeper-frontend
    env_file: .env
    networks: [forgekeeper-net]
    ports: ["${FRONTEND_PORT}:80"]

  python:
    image: forgekeeper-python
    env_file: .env
    networks: [forgekeeper-net]
    ports: ["${PYTHON_PORT}:${PYTHON_PORT}"]

networks:
  forgekeeper-net:
    external: true
