flask==3.1.1
requests==2.32.4
python-dotenv==1.1.1
GitPython==3.1.45
paho-mqtt==2.1.0
strawberry-graphql==0.278.1
pytest==8.4.1
openai-harmony==0.0.4
pymongo==4.14.0
PyYAML==6.0.2
transformers==4.55.2
torch==2.8.0
openai==1.99.9
